
/* DESKTOP */
@media only screen and (min-width: 1025px)  {
	
	.align_card { float:right; position:fixed; right: 1px; color: #FFF; top: 1px; }
	.section { width: 96%; margin:2% auto; border: 8px dashed #BBB; }


		.s_textpadding { padding-left:1.8%; padding-right:4%; }
		.float_behavior { float: left;  }
				
		.tabletonly { display: none; }

}

/* TABLET */
@media only screen and (min-width: 480px) and (max-width: 1024px) {

	.align_card { float:right; position:fixed; right: 0; border: 1px solid #CCC; }
	.section { width: 92%; margin:2% auto; border: 0; }
	.tablet_wrap { width: 100%; }
	.tablet_wrap_sm_size { width: 60%; }
	
	.eml span { display: none; } .eml::after { content: " timur.ochakovsky@gmail.com";} 
	.group1 .column_element1,.group1 .column_element2 {
        display: block;
        width: 100%;
    }


			span.joined span { display: none; } 
	 		span.joined.rgs:after { content: "Working"; }

	 		ul.pos_jobs li:nth-child(1) { display: none; } 

	 		div.capsules_list_wrap ul{ width: 115%; text-align: center; }


}



/* MOBILE */
@media only screen and (max-width: 479px) {
	
	.align_card { width: 98%; padding-top: 3px; margin:0 auto; display: block; border: 0; }
	.section { width: 90%; margin:0 auto; display: block; border: 0;  }
	

		.float_behavior { float: left;}
			.pos_img { padding-bottom: 30px; padding-left: 20px; }

	 ul.pos_jobs li:nth-child(1) { display: none; } 
	 ul.pos_jobs li:nth-child(3) { display: none; } 
	 span.joined span { display: none; } 
	 span.joined.rgs:after { content: "Working"; }	


	div.capsules_list_wrap { width: 100%; margin: 0 auto; }

	

}	