 div.wrap_capsules_list { 

        h4 { color: #999; position: relative; top: 9px; }
        h4.left { text-align: left; }
        h4.center { text-align: center; }

        ul.capsules_ul ul { padding-top: 10px; }

            ul.capsules_ul ul li {
                position: relative;
                display: inline-block; 
                text-align: left;
            }

            ul.capsules_ul li ul li.first-- { border: none; width: 120px; background: none; opacity: 1; line-height: 1px; position: relative; top:-12px; }
            
            ul.capsules_ul li ul li {
                padding: 5px 10px;
                margin: 0px 15px 7px 0;
                border-radius: 9%;
                border: 1px solid #e0E0E0;
                background: #FFF;
                opacity: 0.8;
            }
            ul.capsules_ul li ul li a{
                text-decoration: none;
                color: blue;
            }

            ul.capsules_ul li ul li:hover {
                /*background: #e0E0E0;*/
                border: 1px solid #CCC;
            }

            ul.capsules_ul li ul li.first-- {
                background: none; border: none;
            }

            ul.capsules_ul li { text-align: center; padding-right: 5%; }
}    

/* DESKTOP */
@media only screen and (min-width: 1025px)  {

    
    div.wrap_capsules_list { 
        
        ul.capsules_ul li { display: block;
         text-align: left; }

    }
}


/* TABLET */
@media only screen and (min-width: 480px) and (max-width: 1024px) {

    div.wrap_capsules_list { 
        
        ul.capsules_ul li { float: left; }
         ul.capsules_ul li ul li.first-- { display: block; width: 90%; text-align: left; border-bottom: 1px solid #EEE; line-height: 44px;  }

    }

}



/* MOBILE */
@media only screen and (max-width: 479px) {

    .visible-xs { display: block; }
    .hidden-xs { display: none; }

    div.wrap_capsules_list { 
        ul.capsules_ul li ul li.first-- { display: block; width: 90%; text-align: center; border-bottom: 1px solid #EEE; line-height: 44px;  }
        ul.capsules_ul li { float: none; }
        ul.capsules_ul.mob li { float: left; }

    }


}

.hide { display: none; }
ul.courses li { line-height: 46px; display: block !important; }
ul.courses li span { 
    padding: 5px 7px;
    margin: 0px 9px 7px 0;
    border-radius: 9%;
    border: 1px solid #e0E0E0;
    background: #FFF;
    opacity: 0.7;
}


.heading-- {list-style: none !important; position: relative; left:-18px; font-weight: 400;}

